body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 6px 3px #888888;
    width: 100%;
    height: 100%;
}

.log-btn {
    width: 65px;
    height: 30px;
}
/* -------------------container---------------- */

.addbook-buton-div {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.addbook-buton {
    font-size: 24px;
    box-shadow: 4px 5px 6px #888888;
}
.addbook-buton:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: 400;
}
.card-div {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    visibility: hidden;
    position: absolute;
}
/* #frame {
    width: 7%;
    height: 20px;
} */
.form-card {
    background-color: rgb(204, 255, 229);
    width: 350px;
    height: 450px;
    position: fixed;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 10px 5px 10px #888888;
}

.submit-button {
    width: 120px;
    padding: 5px;
    margin: 0;
    border-radius: 7px;
    background-color: rgba(156, 7, 156, 0.897);
    font-size: 1em;
    font-weight: bold;
}
.submit-button:hover{
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 4px 3px 5px #888888;
}



.notreadbtn {
    background-color: green;
    font-size: 1.5em;
    /* margin-left: 3%; */
    display: block;
    /* padding-left: 32%; */
    /* padding-right: 32%; */
}

.removebtn {
    font-size: 1.5em;
    /* margin-top: 5%;
    padding-left: 32%;
    padding-right: 32%; */

}

.cards {
    width: 15%;
    height: 300px;
    background-color: pink;
    text-align: center;
    border: 1px solid black;
}

#title {
    /* padding: 2%; */
    border: 1px solid black;
    font-size: larger;
}

#author {
    /* padding: 2%; */
    border: 1px solid black;
    font-size: larger;

}

#page {
    /* padding: 2%; */
    border: 1px solid black;
    font-size: larger;
}

/* -----------------footer--------------------- */
.footer {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-img {
    width: 60px;
}